@font-face {
  font-family: 'FontOne';
  src: url('../../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

#test-media{
	font-family: FontOne;
	background-image : url('@zfAssetsPath/../images/test-media-css.gif');
}

#test-media-base64{
	font-family: FontOne;
	background-image : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAYAAAD9yd/wAAAAHElEQVR42lXGwQkAAACCwPZfyeHKb8KBAWrR/QDr+RJVVNWLAAAAAABJRU5ErkJggg==');
}

