@font-face {
  font-family: 'FontOne';
  src: url('../../fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#test-media{
	font-family: FontOne;
	background-image : url('../../images/test-media.gif');
}